@import url('./components/vars.css');

.error,
.loading {
  composes: error from './components/default.module.css';
}

.loader {
  composes: loader from './components/default.module.css';
  width: 80px;
  height: 80px;
}
