* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: var(--bg-deep-dark-gray);
  min-height: 100vh;
}

@media (min-width: 1700px) {
  body {
    display: flex;
    justify-content: center;
  }
}
