.loading,
.error {
  composes: error from '../default.module.css';
}

.loader {
  composes: loaderFullPage from '../default.module.css';
}

.Messenger {
  background: var(--bg-dark-gray);
  color: var(--font-bright-white);
  display: grid;
  grid-template-columns: 300px minmax(300px, 3fr);
  overflow: hidden;
}
