.linkDiv,
.linkDiv:hover,
.linkActive {
  height: 5rem;
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  overflow: hidden;
  padding-left: 1rem;
  cursor: pointer;
}

.avatarContainer {
  display: flex;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 0.5rem;
  position: relative;
}

.img {
  composes: filteredImage from '../../../default.module.css';
}

.nameDiv {
  overflow: hidden;
  text-overflow: ellipsis;
}

.linkDiv:hover {
  background: var(--user-hover-green);
}

.linkActive {
  background: var(--user-active-green);
  cursor: pointer;
}

.dot {
  border: 3px solid var(--bg-dark-gray);
  background: var(--user-online-green);
  border-radius: 50%;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 35px;
  left: 40px;
}

@media (max-width: 900px) {
  .nameDiv {
    display: none;
  }

  .avatarContainer {
    margin: 0;
  }

  .linkDiv,
  .linkDiv:hover,
  .linkActive {
    justify-content: center;
    padding-left: 0;
  }
}
