.NewGroupItem {
  background: none;
  color: inherit;
  border-bottom: 2px solid var(--border-light-gray);
  height: 5rem;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1.5fr 0.5fr;
  align-items: center;
  font-size: 1rem;
  padding-left: 1rem;
}

.avatarContainer {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  margin-right: 0.5rem;
  position: relative;
}

.NewGroupItem img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(4%) saturate(38%)
    hue-rotate(46deg) brightness(113%) contrast(92%);
}

.NewGroupItem input {
  background: none;
  height: 25px;
  width: 25px;
  justify-self: center;
  cursor: pointer;
  accent-color: var(--checkbox-green);
}
