.NewGroupItem {
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1.5fr 0.5fr;
  align-items: center;
  padding-left: 1rem;
  cursor: default;
}

.avatarContainer {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  margin-right: 0.5rem;
  position: relative;
}

.img {
  composes: filteredImage from '../../../default.module.css';
}

.nameDiv {
  overflow: hidden;
  text-overflow: ellipsis;
}

.NewGroupItem input {
  background: none;
  height: 25px;
  width: 25px;
  justify-self: center;
  cursor: pointer;
  accent-color: var(--checkbox-green);
}
