.error {
  composes: errorList from '../../../default.module.css';
}

.loading {
  composes: loadingList from '../../../default.module.css';
}

.loader {
  composes: loaderChild from '../../../default.module.css';
}

.NewGroupList {
  overflow: auto;
}

.NewGroupListFlow {
  overflow-y: scroll;
  scrollbar-color: var(--bg-light-gray) var(--bg-dark-gray);
  scrollbar-width: thin;
}

.NewGroupList,
.NewGroupListFlow {
  z-index: 3;
}

.createForm {
  background: none;
  border-bottom: 2px solid var(--border-light-gray);
  color: inherit;
  height: 5rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0 1rem 0 1rem;
}

.createForm input {
  border: none;
  border-bottom: 2px solid var(--font-mellow-white);
  outline: none;
  background: inherit;
  color: whitesmoke;
  font-size: 1rem;
  padding: 10px;
}

.createForm form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row: 3/4;
  width: 100%;
}

.button {
  composes: noDefaultButton from '../../../default.module.css';
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.createForm .button {
  border-radius: 50%;
  background: var(--checkbox-green);
}

.img {
  composes: filteredImage from '../../../default.module.css';
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
