.SettingList {
  overflow: auto;
}

.SettingListFlow {
  overflow-y: scroll;
  scrollbar-color: var(--bg-light-gray) var(--bg-medium-gray);
  scrollbar-width: thin;
}

.Link,
.Link:hover,
.LinkActive {
  border-bottom: 2px solid var(--border-light-gray);
  color: inherit;
  height: 5rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding-left: 2rem;
  text-decoration: none;
  cursor: pointer;
}

.buttonDiv,
.buttonDiv:hover,
.buttonActive {
  border-bottom: 2px solid var(--border-light-gray);
  height: 5rem;
  display: flex;
  padding-left: 1rem;
  cursor: pointer;
}

.Link:hover {
  background: var(--user-hover-green);
}

.LinkActive {
  background: var(--user-active-green);
  cursor: pointer;
}
