.error,
.loading {
  composes: error from '../../../default.module.css';
  border-bottom: 2px solid var(--border-light-gray);
  height: 5rem;
  font-size: 0.5rem;
}

.loader {
  composes: loaderChild from '../../../default.module.css';
}

.User {
  background: none;
  color: inherit;
  border-bottom: 2px solid var(--border-light-gray);
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr 2fr 2.5fr 0.25fr;
  align-items: center;
  font-size: 1rem;
  padding-left: 1rem;
}

.avatarContainer {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  margin-right: 0.5rem;
}

.img {
  composes: filteredImage from '../../../default.module.css';
}

.send,
.requestSent,
.accept {
  composes: noDefaultButton from '../../../default.module.css';
}

.User .send {
  border-radius: 10px;
  background: var(--hamgurger-active-green);
  padding: 0.5rem 0px 0.5rem 0px;
}

.User .requestSent {
  border-radius: 10px;
  background: var(--font-mellow-white);
  color: var(--bg-dark-gray);
  padding: 0.5rem 0px 0.5rem 0px;
  cursor: default;
}

.User .accept {
  border-radius: 10px;
  background: var(--font-bright-white);
  color: var(--hamgurger-active-green);
  padding: 0.5rem 0px 0.5rem 0px;
}
