.error {
  composes: errorList from '../../../default.module.css';
}

.loading {
  composes: loadingList from '../../../default.module.css';
}

.loader {
  composes: loaderChild from '../../../default.module.css';
}

.UserList {
  overflow: auto;
}

.UserListFlow {
  overflow-y: scroll;
  scrollbar-color: var(--bg-light-gray) var(--bg-dark-gray);
  scrollbar-width: thin;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

@media (max-width: 900px) {
  .error,
  .loading,
  .UserList,
  .UserListFlow {
    background: var(--bg-dark-gray);
    width: 300px;
    height: 100vh;
  }
}
