.error {
  composes: errorList from '../../../default.module.css';
}

.loading {
  composes: loadingList from '../../../default.module.css';
}

.loader {
  composes: loaderChild from '../../../default.module.css';
}

.UserListActive {
  overflow: auto;
}

.UserListFlowActive {
  overflow-y: scroll;
  scrollbar-color: var(--bg-light-gray) var(--bg-dark-gray);
  scrollbar-width: thin;
}

.UserList {
  composes: UserListActive;
}

.UserListFlow {
  composes: UserListFlowActive;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

@media (max-width: 900px) {
  .error,
  .loading,
  .UserListActive,
  .UserListFlowActive {
    background: var(--bg-dark-gray);
    height: 100vh;
    animation: slide-in 0.25s ease-in 1 forwards;
  }

  @keyframes slide-in {
    0% {
      width: 0px;
      opacity: 0%;
    }

    90% {
      opacity: 5%;
    }

    100% {
      width: 250px;
      opacity: 100%;
      transform: translate(0);
    }
  }

  .UserList,
  .UserListFlow {
    background: var(--bg-dark-gray);
    height: 100vh;
    animation: slide-out 0.1s ease-out 1 forwards;
    position: absolute;
  }

  @keyframes slide-out {
    0% {
      width: 250px;
      opacity: 100%;
    }

    10% {
      opacity: 5%;
    }

    100% {
      width: 0px;
      opacity: 0%;
      transform: translate(0);
    }
  }
}
