.error,
.loading {
  border-bottom: 2px solid var(--border-light-gray);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
}

.loader {
  border: 5px solid var(--font-mellow-white);
  border-top: 5px solid var(--hamgurger-active-green);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.User {
  background: none;
  color: inherit;
  border-bottom: 2px solid var(--border-light-gray);
  height: 5rem;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 2fr 2.5fr 0.25fr;
  align-items: center;
  font-size: 1rem;
  padding-left: 1rem;
}

.avatarContainer {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  margin-right: 0.5rem;
}

.User img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(4%) saturate(38%)
    hue-rotate(46deg) brightness(113%) contrast(92%);
}

button,
.requestSent {
  border: none;
  border-radius: 10px;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem 0px 0.5rem 0px;
  outline: inherit;
  cursor: pointer;
}

.send {
  background: var(--hamgurger-active-green);
}

.requestSent {
  background: var(--font-mellow-white);
  color: var(--bg-dark-gray);
  cursor: default;
}

.accept {
  background: var(--font-bright-white);
  color: var(--hamgurger-active-green);
}
