/* || Error Page */
.errorFullPage {
  background: var(--bg-dark-gray);
  color: var(--font-bright-white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorList {
  display: flex;
  justify-content: center;
  font-size: 0.5rem;
  margin-top: 1rem;
}

.errorChild {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* || Loading Page */
.loadingFullPage {
  background: var(--bg-dark-gray);
  color: var(--font-bright-white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingList {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.loadingChild {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* || Loader Page */
.loaderFullPage {
  border: 10px solid var(--font-mellow-white);
  border-top: 10px solid var(--hamgurger-active-green);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

.loaderChild {
  border: 5px solid var(--font-mellow-white);
  border-top: 5px solid var(--hamgurger-active-green);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
