.error,
.loading {
  background: var(--bg-dark-gray);
  color: var(--font-bright-white);
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  min-height: 100vh;
}

.loader {
  border: 10px solid var(--font-mellow-white);
  border-top: 10px solid var(--hamgurger-active-green);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

.loginLoading {
  display: flex;
  align-items: center;
  height: 5rem;
}

.loginLoader {
  border: 5px solid var(--font-mellow-white);
  border-top: 5px solid var(--hamgurger-active-green);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  justify-self: center;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.LoginContainer {
  /* border: 5px solid orange; */
  background: var(--bg-dark-gray);
  color: var(--font-bright-white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.Login {
  border: 5px solid var(--border-light-gray);
  background: var(--bg-medium-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: fit-content;
  padding: 1rem;
}

.formContainer {
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
  min-width: 80%;
}

.Login form {
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  /* border: 5px solid cyan; */
  min-width: 100%;
  height: 5em;
  margin-bottom: 1rem;
}

.inputContainer input,
.inputOutline {
  border: none;
  background-color: var(--bg-light-gray);
  caret-color: var(--font-mellow-white);
  color: var(--font-bright-white);
  border-radius: 8px;
  font-size: 1.2rem;
  width: 100%;
  padding: 1rem;
}

.inputContainer input::placeholder {
  color: var(--font-mellow-white);
}

.inputContainer input:focus {
  outline: 3px solid var(--font-bright-white);
}

.inputOutline {
  outline: 3px solid var(--form-error-red);
}

.inputError {
  padding-top: 0.5em;
}

.formContainer button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.loginBtn,
.signupBtn {
  /* border: 5px solid orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
}

.loginBtn button,
.signupBtn button {
  border-radius: 8px;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 3rem;
  font-size: 1.2em;
  padding: 1rem;
  cursor: pointer;
}

.loginBtn button {
  background: var(--hamgurger-active-green);
}

.loginBtn button:active {
  min-width: 95%;
  font-size: 1.1em;
}

.formContainer hr {
  width: 100%;
}

.signupBtn button {
  border: 3px solid var(--hamgurger-active-green);
  min-width: 50%;
}

.signupBtn button:active {
  min-width: 45%;
  font-size: 1.1em;
}
