.error {
  composes: errorFullPage from './default.module.css';
}

.loading {
  composes: loadingChild from './default.module.css';
  height: 5rem;
}

.loader {
  composes: loaderChild from './default.module.css';
}

.SignUpContainer {
  background: var(--bg-dark-gray);
  color: var(--font-bright-white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.SignUp {
  border: 5px solid var(--border-light-gray);
  background: var(--bg-medium-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: fit-content;
  padding: 1rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  min-width: 80%;
}

.SignUp form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  min-width: 100%;
  height: 5em;
  margin-bottom: 1rem;
}

.inputContainer input,
.inputOutline {
  border: none;
  background-color: var(--bg-light-gray);
  caret-color: var(--font-mellow-white);
  color: var(--font-bright-white);
  border-radius: 8px;
  font-size: 1.2rem;
  width: 100%;
  padding: 1rem;
}

.inputContainer input::placeholder {
  color: var(--font-mellow-white);
}

.inputContainer input:focus {
  outline: 3px solid var(--font-bright-white);
}

.inputOutline {
  outline: 3px solid var(--form-error-red);
}

.inputError {
  padding-top: 0.5em;
}

.signupBtn,
.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
  height: 5rem;
}

.button {
  composes: noDefaultButton from './default.module.css';
  min-width: 100%;
  height: 3rem;
  padding: 1rem;
}

.signupBtn button {
  background: var(--hamgurger-active-green);
}

.signupBtn button:active {
  min-width: 95%;
  font-size: 1.1rem;
}

.formContainer hr {
  width: 100%;
}

.loginBtn button {
  border: 3px solid var(--hamgurger-active-green);
  min-width: 50%;
}

.loginBtn button:active {
  min-width: 45%;
  font-size: 1.1rem;
}
