.Text {
  color: whitesmoke;
}

.sent,
.received {
  display: flex;
  flex-direction: column;
}

.sent {
  align-items: flex-end;
  justify-content: flex-end;
}

.received {
  align-items: flex-start;
}
