.Text {
  color: whitesmoke;
}

.sent,
.received {
  display: flex;
}

.sent {
  justify-content: flex-end;
}

.received {
  justify-content: flex-start;
}

.textContent {
  border-radius: 40px;
  padding: 1.5rem;
}
.sent .textContent {
  background: rgba(0, 100, 0, 0.5);
}

.received .textContent {
  background: rgb(60, 60, 60);
}
