.Text {
  /* border: 2px solid orange; */
  color: whitesmoke;
}

.sent,
.received {
  display: flex;
}

.sent {
  justify-content: flex-end;
}

.received {
  justify-content: flex-start;
}

.sent .textContent {
  background: darkcyan;
}

.received .textContent {
  background: darkcyan;
  background: orange;
}
