.User button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font-size: 1rem;
  outline: inherit;
  cursor: pointer;
}

.buttonDiv,
.buttonDiv:hover,
.buttonActive {
  border-bottom: 2px solid var(--border-light-gray);
  height: 5rem;
  display: flex;
  padding-left: 1rem;
  cursor: pointer;
}

.buttonDiv:hover {
  background: var(--user-hover-green);
}

.buttonActive {
  background: var(--user-active-green);
  cursor: pointer;
}
