.Sidebar {
  border-right: 2px solid var(--border-light-gray);
  display: grid;
  grid-template-rows: 70px auto;
  min-height: 100vh;
}

.userInfo,
.settingInfo {
  background: var(--bg-medium-gray);
  height: 70px;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  font-size: 1rem;
  position: relative;
  padding-left: 1rem;
}

.settingInfo {
  grid-template-columns: 1fr 6fr;
}

.userInfo img,
.settingInfo img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(4%) saturate(38%)
    hue-rotate(46deg) brightness(113%) contrast(92%);
  justify-self: start;
}

.loginUser {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.avatarContainer {
  border-radius: 50%;
  display: flex;
  height: 3rem;
  width: 3rem;
  margin-right: 0.5rem;
}

.userInfo button,
.settingInfo button {
  border: none;
  background: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-self: center;
  width: fit-content;
  padding: 0;
  outline: inherit;
  cursor: pointer;
}

.userInfo .buttonActive {
  border-radius: 50%;
  background: var(--hamgurger-active-green);
  padding: 5px;
}

.settingInfo button {
  justify-self: start;
}
