.Sidebar {
  border-right: 2px solid var(--border-light-gray);
  background: var(--bg-dark-gray);
  display: grid;
  grid-template-rows: 70px auto;
  grid-column: 1/2;
  height: 100vh;
}

.userHeader {
  background: var(--bg-medium-gray);
  height: 70px;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  font-size: 1rem;
  position: relative;
  padding-left: 1rem;
}

.backSidebarActive {
  composes: Sidebar;
  position: absolute;
  top: 0;
  grid-template-rows: 100px auto;
  width: 300px;
  height: 100vh;
  animation: slide-in 0.25s ease-in 1 forwards;
}

@keyframes slide-in {
  0% {
    transform: translate(-300px);
  }

  100% {
    transform: translate(0);
  }
}

.backSidebar {
  composes: Sidebar;
  position: absolute;
  top: 0;
  grid-template-rows: 100px auto;
  width: 300px;
  height: 100vh;
  animation: slide-out 0.25s ease-in 1 forwards;
}

@keyframes slide-out {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-300px);
  }
}

.backHeader {
  composes: userHeader;
  grid-template-columns: 1fr 4fr 0.5fr 0.5fr;
  grid-template-rows: auto 50%;
  height: 100px;
}

.backHeader a {
  grid-row: 2/3;
  grid-column: 1/2;
}

.backHeader .title {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 1.2rem;
}

.backHeader .img {
  width: 1.5rem;
  vertical-align: middle;
}

.img {
  composes: filteredImage from '../../default.module.css';
  transition: filter 0.1s ease-in;
}

.loginUser {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.avatarContainer {
  border-radius: 50%;
  display: flex;
  height: 3rem;
  width: 3rem;
  margin-right: 0.5rem;
}

.button,
.hamburgerActive {
  composes: noDefaultButton from '../../default.module.css';
}

.button {
  border-radius: 50%;
  width: fit-content;
  justify-self: center;
  padding: 5px;
  transition: background-color 0.12s ease-out;
}

.button:focus-visible {
  border-radius: 50%;
  outline: 3px solid var(--checkbox-green);
  width: fit-content;
  justify-self: center;
  padding: 5px;
}

.userHeader .hamburgerActive {
  border-radius: 50%;
  background-color: var(--hamgurger-active-green);
  justify-self: center;
  width: fit-content;
  padding: 5px;
  transition: background-color 0.125s ease-in;
}

.userHeader .LinkDiv {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 5px;
  transition: background-color 0.125s ease-out;
}

.userHeader .LinkActive {
  border-radius: 50%;
  background-color: var(--font-bright-white);
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 5px;
  outline: none;
  cursor: default;
  transition: background-color 0.125s ease-in;
}
.userHeader .LinkDiv:focus-visible,
.userHeader .LinkActive:focus-visible {
  outline: 3px solid var(--checkbox-green);
}

.userHeader .LinkActive img {
  filter: none;
  transition: filter 0.2ss ease-in;
}
